* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(37, 160, 53);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);

}

.game-board h1 {

    text-align: center; 

}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s linear infinite;

}

.mario {

    width: 130px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.gameover{
    animation: game-over 2s linear;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

@keyframes game-over {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 180px;
    }


    100% {
        bottom: -130px;
    }

}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}